<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="demorcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="demorcp.Perspective"
            name="RCP Perspective"
            id="demorcp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="demorcp.views.HelloWorldView"
            id="demorcp.views.HelloWorldView"
            name="HelloWorld"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="demorcp.application"
            name="demorcp">
         <property
               name="appName"
               value="demorcp">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="demorcp.views.EditorView"
            id="demorcp.views.EditorView"
            name="EditorPart">
      </editor>
   </extension>

</plugin>
